body {
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	background: url('./img/bg.jpg') 0 0 #ddd;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
}

@media (min-width: 979px) {

  #midCol.affix-top {
      position:fixed;
  	  width:265px;
  	  margin-right:10px;
  	  
  }
  
  #midCol.affix {
      position:static;
      width:100%;
  }

}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:static;
  }
}

.footer, .page {
	width: 80%;
}

.footer {
	padding-top: 10px;
}

.page {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	padding: 15px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 10px #999999;
	-moz-box-shadow: 0px 0px 10px #999999;
	box-shadow: 0px 0px 10px #999999;
	overflow: hidden;
	min-height: 93%;
}

