body {
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
}

@media (min-width: 979px) {

  #midCol.affix-top {
      position:fixed;
  	  width:265px;
  	  margin-right:10px;
  	  
  }
  
  #midCol.affix {
      position:static;
      width:100%;
  }

}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:static;
  }
}

.footer {
	width: 100%;
	padding-top: 10px;
}

.page {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	padding: 15px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 10px #999999;
	-moz-box-shadow: 0px 0px 10px #999999;
	box-shadow: 0px 0px 10px #999999;
	overflow: hidden;
	min-height: 93%;
}

.catalog-product {
	text-align: center;
	padding: 10px;
	margin: 10px;
	border: 1px solid #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.catalog-product:hover, .catalog-list-item:hover {
	border: 1px solid #ccc;
	background: #fefefe;
	border-radius: 3px;
	-webkit-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
	box-shadow: 3px 3px 3px rgba(0,0,0,.1);
}

.catalog-img {
	width: 100%;
	height: 100%;
	margin-left: auto; 
	margin-right: auto;
	min-height: 150px;
	max-height: 150px;
	min-width: 200px;
	max-width: 200px;
}

.catalog-th-list {
	font-size: 24px;
	margin-right: 30px;
}

.catalog-list-item {
	border: 1px solid #fff;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 5px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.catalog-col {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}

.catalog-list-item-title{
	font-size: 20px;
}

.product-img {
	width: 100%;
	height: 100%;
	margin-left: auto; 
	margin-right: auto;
}

.product-thumbnail {
	min-width: 100%;
	min-height: 250px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.catalog-thumbnail {
	min-width: 200px;
	min-height: 150px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidden-item {
	display: none;	
}

.loader {
	position: absolute;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;	
}

.catalog-loader {
	top: 35%;
}

.product-loader {
	top: 43%;
}

.carousel-control {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.carousel-inner {
	border-radius: 10px;
}

.product-link {
}

.contact-table {
	margin: auto;
}

.arrow  {
	position: absolute;
	top: 8px;
	left: 17px;
	font-size: 50%;
}

.bs-sidebar .nav>.active:hover>a {
	padding-left: 17px;
	border-right: 4px solid #8f76bb;
	border-radius: 0px;
}

.contact-table > tbody > tr {
	height: 30px;
}

.contact-table > tbody > tr > td> img {
	width: 20px;
	height: 20px;
}

.interesting-img {
	width: 100%;
	height: 100%;
	margin-left: auto; 
	margin-right: auto;
}

.interesting-img-container {
	margin: 10px;
}

.index-img {
	width: 900px;
	height: 500px;
	margin-left: auto; 
	margin-right: auto;
}

.product-description {
	min-height: 300px;
}

.product-price {
	text-align: center;
	font-variant: small-caps;
	font-size: 23px;
}

.product-button {
	text-align: center;
}

.product-price-info {
	text-align: center;
	font-size: 10px;
}

#currencyTable {
	width: 90%;
}

#currencyTable > thead > tr > th { 
	color: #563d7c;
}

#currencyTable > tbody > tr > td { 
	font-size: 10px;
	color: #4a4a4a;
}

#price {
	width: 100%;
	text-align: center;
}

.main-carousel {
	padding: 24px;
}

/* ==================================== */
/* 			Alert Message				*/
/* ==================================== */

#alertMessage {
	z-index: 2000;
	position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    margin-left: -12.5%;
    margin-top: -100px;
	border: 1px solid rgba(23, 24, 26, 0.15);
	border-radius: .5em;
	box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.14);
	padding: 20px;
	background: #fff;
	text-align: center;
	display: none;
}

