<section>

<div id="menu1">
<p>	body {
</p><p>	position: absolute;
</p><p>		top: 0; left: 0;
</p><p>		bottom: 0; right: 0;
</p><p>		/*background: url('./img/bg.jpg') 0 0 #ddd;*/
</p><p>		margin: 0px;
</p><p>		padding: 0px;
</p><p>		padding-top: 10px;
</p><p>	}
</p>

</div>
<p>	@media (min-width: 979px) {
</p><p>	
</p><p>	  #midCol.affix-top {
</p><p>	      position:fixed;
</p><p>	  	  width:265px;
</p><p>	  	  margin-right:10px;
</p><p>	  	  
</p><p>	  }
 </p><p>	 
</p><p>	  #midCol.affix {
</p><p>	      position:static;
</p><p>	      width:100%;
 </p><p>	 }

</p><p>	}

</p><p>	@media (min-width: 767px) {
 </p><p>	 .affix,.affix-top {
 </p><p>	     position:static;
  </p><p>	}
</p><p>	}

</p><p>	.footer {
</p><p>		width: 100%;
</p><p>		padding-top: 10px;
</p><p>	}
</p><p>	
</p><p>	.page {
</p><p>		position: relative;
</p><p>		margin: 0 auto;
</p><p>		margin-top: 30px;
</p><p>		padding: 15px;
</p><p>		background-color: #fff;
</p><p>		-webkit-box-shadow: 0px 0px 10px #999999;
</p><p>		-moz-box-shadow: 0px 0px 10px #999999;
</p><p>		box-shadow: 0px 0px 10px #999999;
</p><p>		overflow: hidden;
</p><p>		min-height: 93%;
</p><p>	}</p>


</section>