<div ng-controller="MenuController">

	<div class="bs-header" id="content">
		<div class="container">
			<h1>Магазин мебели</h1>
			<p>Вы найдете всё, о чем мечтали, и даже больше...</p>
			<div class="phones">
				<div class="phone"><img src="img/velcom.gif"/> +375-29-527-35-77 </div>
				<div class="phone"><img src="img/mts.gif"/> +375-44-533-94-92 </div>
				<div class="phone"><img src="img/velcom.gif"/> +375-44-565-24-99 </div>
				<div class="phone"><img src="img/mts.gif"/> +375-29-221-63-34 </div>
			</div>
			<div id="carbonads-container">
				<div class="carbonad">
					<div id="azcarbon">
						<carousel interval="interval"> 
							<slide ng-repeat="slide in slides" active="slide.active"> 
								<img ng-src="{{slide.image}}" style="margin: auto;"/> 
							</slide> 
						</carousel>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
