<div id="leftMenu" class="bs-sidebar" role="complementary" ng-controller="MenuController">

	<ul class="nav bs-sidenav">
		<li class="active"><a href="#/index">Каталог</a>
			<ul class="nav" >
				<li><a href="#/catalog/bedroom">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Спальни </a></li>
				<li><a href="#/catalog/divan">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Мягкая мебель</a></li>
				<li><a href="#/catalog/wall">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Стенки</a></li>
				<li><a href="#/catalog/cornerSofa">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Кухонные угловые диваны</a></li>
				<li><a href="#/catalog/compTables">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Компьютерные столы</a></li>
				<li><a href="#/catalog/tv">			<span class="glyphicon glyphicon-chevron-right arrow"></span> Тумбы для телерадио аппаратуры</a></li>
				<li><a href="#/catalog/children">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Для детской комнаты</a></li>
				<li><a href="#/catalog/hall">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Для прихожей</a></li>
				<li><a href="#/catalog/komod">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Комоды</a></li>
				<li><a href="#/catalog/office">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Для офиса</a></li>
				<li><a href="#/catalog/bookTable">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Стол-тумба (книга)</a></li>
				<li><a href="#/catalog/kitchen">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Кухни</a></li>
				<li><a href="#/catalog/shoes">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Тумбы для обуви</a></li>
			</ul></li>
		<li class="active"><a href="#/interesting">Советы</a></li>
		<li class="active"><a href="#/delivery">Доставка</a></li>
		<li class="active"><a href="#/feedback">Обратная связь</a></li>
		<li class="active"><a href="#/about">О нас</a></li>
	</ul>

	
	<div>
		<table id="currencyTable" class="table table-condensed table-hover">
			<thead>
				<tr><th colspan="3"> Курс валют </th> </tr>
			</thead>
			<tbody>
				<tr><td> USD </td><td> {{currency.USD_SELL}} </td><td> {{currency.USD_BUY}} </td></tr>
				<tr><td> EURO </td><td> {{currency.EUR_SELL}} </td><td> {{currency.EUR_BUY}} </td></tr>
				<tr><td> RUR </td><td> {{currency.RUR_SELL}} </td><td> {{currency.RUR_BUY}} </td></tr>
			</tbody>
		</table>
	</div>
	
</div>
