<div id="leftMenu" class="bs-sidebar" role="complementary" data-spy="affix" data-offset-top="500" data-offset-bottom="10" ng-controller="MenuController">

	<ul class="nav bs-sidenav">
		<li class="active"><a href="#/index">Каталог</a>
			<ul class="nav" >
				<li><a href="#/catalog/bedroom">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Спальни </a></li>
				<li><a href="#/catalog/divan">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Мягкая мебель</a></li>
				<li><a href="#/catalog/wall">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Стенки</a></li>
				<li><a href="#/catalog/cornerSofa">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Кухонные угловые диваны</a></li>
				<li><a href="#/catalog/compTables">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Компьютерные столы</a></li>
				<li><a href="#/catalog/tv">			<span class="glyphicon glyphicon-chevron-right arrow"></span> Тумбы для телерадио аппаратуры</a></li>
				<li><a href="#/catalog/children">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Для детской комнаты</a></li>
				<li><a href="#/catalog/hall">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Для прихожей</a></li>
				<li><a href="#/catalog/komod">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Комоды</a></li>
				<li><a href="#/catalog/office">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Для офиса</a></li>
				<li><a href="#/catalog/bookTable">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Стол-тумба (книга)</a></li>
				<li><a href="#/catalog/kitchen">	<span class="glyphicon glyphicon-chevron-right arrow"></span> Кухни</a></li>
				<li><a href="#/catalog/shoes">		<span class="glyphicon glyphicon-chevron-right arrow"></span> Тумбы для обуви</a></li>
			</ul></li>
		<li class="active"><a href="#/interesting">Советы</a></li>
		<li class="active"><a href="#/delivery">Доставка</a></li>
		<li class="active"><a href="#/feedback">Обратная связь</a></li>
		<li class="active"><a href="#/about">О нас</a></li>
	</ul>

<!--
	<div class="panel-group" id="accordion">

		<div class="panel panel-info">
			<div class="panel-heading accordion-toggle"  data-toggle="collapse" data-parent="#accordion" href="#catalog">
				<h4 class="panel-title">
					<a > Каталог </a>
				</h4>
			</div>
			<div id="catalog" class="panel-collapse collapse in" style="height: 0px;">
				<div class="panel-body">
					<ul class="nav">
						<li><a href="#/catalog/compTables">Компьютерные столы</a></li>
						<li><a href="#/catalog/tv">Тумбы для телерадио аппаратуры</a></li>
						<li><a href="#/catalog/children">Для детской комнаты</a></li>
						<li><a href="#/catalog/hall">Для прихожей</a></li>
						<li><a href="#/catalog/komod">Комоды</a></li>
						<li><a href="#/catalog/office">Для офиса</a></li>
						<li><a href="#/catalog/divan">Мягкая мебель</a></li>
						<li><a href="#/catalog/bookTable">Стол-тумба(книга)</a></li>
						<li><a href="#/catalog/kitchen">Кухни</a></li>
						<li><a href="#/catalog/bedroom">Спальни</a></li>
						<li><a href="#/catalog/wall">Стенки</a></li>
						<li><a href="#/catalog/shoes">Тумбы для обуви</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#/interesting"> Советы </a>
				</h4>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#/feedback"> Обратная связь </a>
				</h4>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a href="#/about"> О нас </a>
				</h4>
			</div>
		</div>
	</div>
-->	
	
	
	<div>
		<table id="currencyTable" class="table table-condensed table-hover">
			<thead>
				<tr><th colspan="3"> Курс валют </th> </tr>
			</thead>
			<tbody>
				<tr><td> USD </td><td> {{currency.USD_SELL}} </td><td> {{currency.USD_BUY}} </td></tr>
				<tr><td> EURO </td><td> {{currency.EUR_SELL}} </td><td> {{currency.EUR_BUY}} </td></tr>
				<tr><td> RUR </td><td> {{currency.RUR_SELL}} </td><td> {{currency.RUR_BUY}} </td></tr>
			</tbody>
		</table>
	</div>
	
</div>
