<div ng-controller="CatalogController">
	<div ng-repeat="item in products">
		<div ng-switch="" on="$index % 3">
			<div class="row" ng-switch-when="0">
				<div class="col-sm-4" ng-show="products[$index+0]">
					<div class="catalog-product">
						<h4>{{products[$index+0].title}}</h4>
						<a href="#/product/{{type}}/{{products[$index+0].id}}" class="img-thumbnail">
          					<img class="catalog-img" ng-src="img/products/small/{{type}}/{{products[$index+0].id}}.jpg">
        				</a>
        				<div id="price"></div>
					</div>
				</div>
				<div class="col-sm-4" ng-show="products[$index+1]">
					<div class="catalog-product">
						<h4>{{products[$index+1].title}}</h4>
						<a href="#/product/{{type}}/{{products[$index+1].id}}" class="img-thumbnail">
          					<img class="catalog-img" ng-src="img/products/small/{{type}}/{{products[$index+1].id}}.jpg">
        				</a>
        				<div id="price"></div>
					</div>
				</div>
				<div class="col-sm-4" ng-show="products[$index+2]">
					<div class="catalog-product">
						<h4>{{products[$index+2].title}}</h4>
						<a href="#/product/{{type}}/{{products[$index+2].id}}" class="img-thumbnail">
          					<img class="catalog-img" ng-src="img/products/small/{{type}}/{{products[$index+2].id}}.jpg">
        				</a>
        				<div id="price"></div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
