<div ng-controller="CatalogController">
	<div ng-repeat="item in products">
		<div ng-switch="" on="$index % 3">
			<div class="row" ng-switch-when="0">
				<div class="col-sm-4" ng-show="products[$index+0]">
					<div class="catalog-product">
						<a href="#/product/{{type}}/{{products[$index+0].id}}" class="img-thumbnail">
          					<img class="catalog-img" ng-src="{{buildSmallImg(products[$index+0].id)}}">
        				</a>
        				<h5><a class="product-link" href="#/product/{{type}}/{{products[$index+0].id}}" >{{products[$index+0].title}}</a></h5>
        				<div id="price"></div>
					</div>
				</div>
				<div class="col-sm-4" ng-show="products[$index+1]">
					<div class="catalog-product">
						<a href="#/product/{{type}}/{{products[$index+1].id}}" class="img-thumbnail">
          					<img class="catalog-img" ng-src="{{buildSmallImg(products[$index+1].id)}}">
        				</a>
        				<h5><a class="product-link" href="#/product/{{type}}/{{products[$index+1].id}}" >{{products[$index+1].title}}</a></h5>
        				<div id="price"></div>
					</div>
				</div>
				<div class="col-sm-4" ng-show="products[$index+2]">
					<div class="catalog-product">
						<a href="#/product/{{type}}/{{products[$index+2].id}}" class="img-thumbnail">
          					<img class="catalog-img" ng-src="{{buildSmallImg(products[$index+2].id)}}">
        				</a>
        				<h5><a class="product-link" href="#/product/{{type}}/{{products[$index+2].id}}" >{{products[$index+2].title}}</a></h5>
        				<div id="price"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
