<div class="bs-docs-section">
	<h1 class="page-header">Советы</h1>

	<h4>Как правильно выбрать мебель?</h4>

	<div class="panel-group" id="accordion">

		<div class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				<h4 class="panel-title">
					Общие советы
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse"
				style="height: 0px;">
				<div class="panel-body">
					<p>Прежде всего, стоит определиться, в какой цветовой гамме вы
						хотели бы оформить свое жилье. Здесь есть важная деталь: каждый
						цвет по-разному влияет на ваше настроение. Причем, по заверениям
						психологов, даже один цвет может оказывать различное воздействие
						на людей, в зависимости от их возраста, пола и темперамента.</p>
					<p>Так, у детей голубой пробуждает креативность и вдохновение,
						стимулирует тягу к учебе. В то время как на людей постарше он
						оказывает более выраженное успокаивающее действие: согласно
						исследованиям, у взрослых при виде голубого понижается давление,
						замедляется дыхание, снижается аппетит и мышечное напряжение.</p>
					<p>Некоторые мебельные компании, в том числе и мы, берут
						консультации у психологов, чтобы подобрать оптимальное оформление
						коллекций для разных комнат в зависимости от того, кто в них живет
						и как проводит свое время.</p>

<!-- 					<a href="" class="img-thumbnail interesting-img-container"> <img class="interesting-img" -->
<!-- 						ng-src="img/interesting/1_1.jpg"> -->
<!-- 					</a>  -->
<!-- 					<a href="" class="img-thumbnail interesting-img-container"> <img class="interesting-img" -->
<!-- 						ng-src="img/interesting/1_2.jpg"> -->
<!-- 					</a>  -->

					<h4>Цвет комнаты влияет на настроение</h4>

					<p>Если площадь комнаты небольшая, но обставить ее хочется со
						вкусом – обратите внимание на коллекции модульной мебели. Они
						позволяют покупать не весь набор целиком, а только то, что вам
						нужно, и собирать желаемую композицию из подходящих друг другу
						деталей, как конструктор.</p>
						
<!-- 					<a href="" class="img-thumbnail interesting-img-container"> <img class="interesting-img" -->
<!-- 						ng-src="img/interesting/1_3.jpg"> -->
<!-- 					</a>  -->
        				
<!-- 					<p>Такой вариант отлично подходит при совмещении двух комнат в -->
<!-- 						одной. Например, кабинета и спальни.</p> -->
					<p>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				<h4 class="panel-title">
					Детская
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse"
				style="height: 0px;">
				<div class="panel-body">
					<p>Вашему ребенку не нужны огромный стол и шикарное кожаное
						кресло, чтобы подчеркнуть статус и высокое положение. Но это вовсе
						не значит, что он обойдется пружинной кроватью и тумбой, наспех
						сбитой из кусков фанеры.</p>
					<p>Грамотно обставленная детская не только порадует вашего
						ребенка, но также защитит его от ушибов при падениях (если ребенок
						совсем маленький), поможет ему в развитии и учебе, будет
						стимулировать активность и творческое мышление, развивать
						самостоятельность и ответственность.</p>
					<p>Первое, что нужно знать о детских – не стоит разделять
						комнату на жесткие функциональные зоны: "кабинет", "спальню" и
						"игровую". Ведь такими действиями вы можете запросто вызвать у
						своего чада отвращение к учебе.</p>
					<p>В хорошей детской все расположено рядом: кровать,
						компьютерный стол, шкаф. Важно также подобрать вместительные полки
						и ящики, куда поместятся растущий автопарк или постоянно
						увеличивающаяся коллекция любимых кукол,чтобы не перекладывать их
						с места на место и избежать бардака.</p>
					<p>Еще один плюс такого расположения – то, что даже в совсем
						маленьких комнатах остается много свободного места, которое в
						любом случае понадобится малышу для игр.</p>

<!-- 					<a href="" class="img-thumbnail interesting-img-container"> <img class="interesting-img" -->
<!-- 						ng-src="img/interesting/2_1.jpg"> -->
<!-- 					</a>  -->
					<h4>В хорошей детской все расположено рядом</h4>

					<p>Причем вся мебель должна быть удобной для ребенка. Никаких
						сложных конструкций! Подберите шкафы и тумбочки так, чтобы дверцы
						и ящики легко открывались и закрывались, а ребенок мог свободно
						дотянуться до ручек.</p>
					<p>Второе правило детской – хорошее освещение, яркий и светлый
						цвет мебели и обоев. Все дети инстинктивно тянутся именно к таким
						цветам, и нет ни одной причины препятствовать им. Правильно
						подобранная расцветка положительно влияет на настроение ребенка,
						его самоощущение и отношение к жизни.</p>
					<p>Важно и то, мальчик у вас или девочка. И если лет до 5 это
						еще не критично, ребенок постарше уже начинает ощущать себя как
						личность, приобретает определенный круг общения.</p>
					<p>Когда детей в семье двое, многие предпочитают двухъярусные
						кровати. Это отличное решение, но важно позаботиться о том, чтобы
						для детей оно было комфортным и безопасным. Кромки кровати (как,
						впрочем, и всей мебели), должны быть скруглены, чтобы не допустить
						травмы при ударе. Ступеньки должны располагаться на удобной для
						ребенка высоте.</p>
<!-- 					<a href="" class="img-thumbnail interesting-img-container"> <img class="interesting-img" -->
<!-- 						ng-src="img/interesting/2_2.jpg"> -->
<!-- 					</a>  -->
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				<h4 class="panel-title">
					Спальня
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse"
				style="height: 0px;">
				<div class="panel-body">
					<p>У взрослых другие потребности, но, какой бы высокий статус
						вы ни занимали и как много ни работали, всегда есть место, где
						можно на несколько часов спрятаться от суеты и хорошенько
						отдохнуть.</p>
					<p>Разумеется, в спальне не приветствуются яркие будоражащие
						цвета. Также желательно не захламлять эту комнату лишними
						предметами: по словам психологов, они только мешают полноценному
						отдыху.</p>
					<p>Доминантой спальни, как вы уже догадались, является кровать.
						Именно на ней вы проведете примерно треть своей жизни. Поэтому,
						если желаете всегда быть бодрым и в хорошем тонусе, к выбору стоит
						подойти со всей ответственностью.</p>
					<p>Основные рекомендации: кровать должна быть достаточно
						большой, не скрипучей, на прочном каркасе. Остальное – дело вкуса.
					</p>
<!-- 					<a href="" class="img-thumbnail interesting-img-container"> <img class="interesting-img" -->
<!-- 						ng-src="img/interesting/3_1.jpg"> -->
<!-- 					</a>  -->
					<h4>Удобная кровать и минимум предметов – залог хорошего сна</h4>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
				<h4 class="panel-title">
					Гостиная
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse"
				style="height: auto;">
				<div class="panel-body">
					<p>А вот при обустройстве гостиной можно дать волю фантазии!
						Ведь это место, где вы проводите время с семьей за просмотром
						интересного фильма. Здесь же собираются ваши друзья и знакомые,
						чтобы отметить праздник или организовать вечеринку.</p>
					<p>В связи с этим к мебели в гостиной выдвигается сразу
						несколько требований. Во-первых, она должна задавать хорошее
						настроение, что достигается правильно подобранной цветовой схемой.
					</p>
					<p>Во-вторых, обладать достаточной функциональностью, чтобы
						отвечать требованиям как одного человека, так и всей компании.</p>
					<p>Не стоит забывать, что по состоянию гостиной ваши друзья и
						знакомые будут судить о вашем положении и стиле, поэтому без
						хорошего дизайна не обойтись.</p>
					<p>И, разумеется, при всей своей гармоничности и красоте,
						мебель для гостиной должна быть довольно надежной и прочной, чтобы
						выдерживать случайные падения и удары.</p>
<!-- 					<a href="" class="img-thumbnail interesting-img-container"> <img class="interesting-img" -->
<!-- 						ng-src="img/interesting/4_1.jpg"> -->
					</a> 
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
				<h4 class="panel-title">
					Прихожая
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Вы удивитесь, но даже в обустройстве прихожей есть свои
						нюансы. Здесь следует подобрать мебель таким образом, чтобы она
						выполняла все необходимые функции. Как минимум, нужны вешалка,
						зеркало, шкафы подставка для обуви.</p>
					<p>Все это должно располагаться компактно и занимать минимум
						места, чтобы гости могли развернуться и комфортно снять одежду, а
						не жаться в углу между разбросанными ботинками и велосипедом.</p>
<!-- 					<a href="" class="img-thumbnail interesting-img-container"> <img class="interesting-img" -->
<!-- 						ng-src="img/interesting/5_1.jpg"> -->
					</a> 
				</div>
			</div>
		</div>

	</div>


</div>