<div class="bs-docs-section" ng-controller="ProductController">
	<h1 id="labels" class="page-header">{{product.title}}</h1>
	
	<div class="row">
		<div class="col-md-6">
			<a data-lightbox="image" title="{{product.title}}" href="img/products/{{type}}/{{id}}.jpg" class="img-thumbnail">
          		<img class="product-img" ng-src="img/products/{{type}}/{{id}}.jpg">
        	</a>
		</div>
		
		<div class="col-md-6">
		
			<table class="table table-hover">
				<thead>
					<tr>
						<td colspan="2">
							<label>Описание</label>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="product.materials">
						<td>Материал:</td><td> {{product.materials}}</td>
					</tr>
					<tr ng-show="product.manufacturer">
						<td>Производитель:</td><td> {{product.manufacturer}}</td>
					</tr>
					<tr ng-show="product.size">
						<td>Габариты:</td><td> {{product.size}}</td>
					</tr>
				</tbody>
			</table>
			
			<div id="price" ng-show="product.price">
				<div class="col-md-12 product-price"><label>Цена:</label></div>
				<div class="col-md-12 product-price">{{getPrice(product.price)}}</div>
				
				<div class="col-md-12 product-button">
					<button class="btn btn-success" data-toggle="modal" data-target="#buyModal" ng-click="buy(product)">Заказать</button>
				</div>
				
				<div class="col-md-12 product-price-info">
					 * Расчет проводится в белорусских рублях по курсе НацБанка в момент покупки товара.
				</div>
			</div>
		
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 product-description">
			{{product.description}}
		</div>
	</div>
	<hr>
	
	<div ng-include src="'views/product/seeAlso.html'"></div>
	<div ng-include src="'views/product/buyModal.html'"></div>

</div>
