<div class="bs-docs-section">
	<h1 id="wells" class="page-header"> О нас </h1>

	<p>Наша компания предлагает своим клиентам широкий выбор корпусной и мягкой мебели для дома</p>
	
	<p>Мы работаем с ведушими белорусскими производителями мебели. Качество предлагаемой нами продукции 
	соответствует международным стандартам, что подтверждается многочисленными сертификатами и наградами, 
	полученными на различных мебельных выставках. </p>

	<p>Приобретая фабричную мебель, вы можете быть уверены в ее качестве и оперативном устранении возможных недостатков.</p>
	
	<p>ПОсновное преимущества покупки товаров через Интернет – это возможность приобрести ту же мебель, только дешевле.</p>
<p>ПВ нашем офисе представлены образцы некоторых предлагаемых изделий, фасады спален и гостиных, а так же ткани и кожи для мягкой мебели. Мы не предлагаем Вам покупать "вслепую". Вы сможете в живую оценить качество продукции и выбрать подходящий  вариант. </p>
<p>ПЦены в нашем Интернет-магазине на 15-25% ниже среднерыночных, что позволяет в разных случаях сэкономить от 1 до 5 млн. руб. на комплекте.</p>
		
</div>
