<div class="bs-docs-section">
	<h1 id="wells" class="page-header"> Доставка </h1>

	<p>Доставка мебели осуществляется специализированной транспортной компанией до подъезда заказчика. Подъем в квартиру является дополнительной услугой, которая осуществляется профессиональными грузчиками, несущими полную ответственность за свою работу.</p>
	<p>Доставка мебели по Беларуси осуществляется нашими партнерами. Этот вариант является более выгодным для жителей регионов, так как обходится намного дешевле, чем оплата за километры.</p>
	<p>Доставка осуществляется во все областные центры, а так же крупные города с населением более 30 000 человек. О возможности доставки в Ваш город уточняйте у специалиста.</p>
	<p>Подъем мебели в квартиру, сборка и вынос мусора являются дополнительными услугами и не включаются в стоимость доставки. Стоимость подъема рассчитывается поэтажно согласно прейскуранту, в зависимости от габаритов и типа мебели.</p>	
	<p>Заказчик несет самостоятельную ответственность за соответствие ширины дверного проема и околодверного пространства габаритам мебели. Поэтому, мы рекомендуем Вам заранее замерять параметры помещения и соотносить их с габаритами изделия, указанными в карточках товаров. Если приобретенная мебель по каким-либо причинам не входит в помещение, возможна ее сборка и разборка, которая осуществляется специалистами за дополнительную плату.</p>
	<p>Доставка осуществляется только после полной оплаты товара в офисе или по квитанции в банке.</p>
</div>
